# Minimal launcher profile
# CONFIG_JC4880_FEATURE_WIFI is not set
# CONFIG_JC4880_FEATURE_BLUETOOTH is not set
# CONFIG_JC4880_FEATURE_BLE is not set
# CONFIG_JC4880_FEATURE_ZIGBEE is not set
# CONFIG_JC4880_FEATURE_TIME_SYNC is not set
# CONFIG_JC4880_FEATURE_HARDWARE_INFO is not set
# CONFIG_JC4880_FEATURE_BATTERY is not set
CONFIG_JC4880_FEATURE_DISPLAY=y
# CONFIG_JC4880_FEATURE_AUDIO is not set
# CONFIG_JC4880_FEATURE_SECURITY is not set
# CONFIG_JC4880_FEATURE_OTA is not set
CONFIG_JC4880_FEATURE_ABOUT_DEVICE=y
CONFIG_JC4880_APP_SETTINGS=y
# CONFIG_JC4880_APP_CALCULATOR is not set
# CONFIG_JC4880_APP_SEGA_EMULATOR is not set
# CONFIG_JC4880_APP_IMAGE_VIEWER is not set
# CONFIG_JC4880_APP_FILE_MANAGER is not set
# CONFIG_JC4880_APP_MUSIC_PLAYER is not set
# CONFIG_JC4880_APP_INTERNET_RADIO is not set
