# Media-focused launcher profile
CONFIG_JC4880_FEATURE_WIFI=y
# CONFIG_JC4880_FEATURE_BLUETOOTH is not set
# CONFIG_JC4880_FEATURE_BLE is not set
# CONFIG_JC4880_FEATURE_ZIGBEE is not set
CONFIG_JC4880_FEATURE_TIME_SYNC=y
CONFIG_JC4880_FEATURE_HARDWARE_INFO=y
# CONFIG_JC4880_FEATURE_BATTERY is not set
CONFIG_JC4880_FEATURE_DISPLAY=y
CONFIG_JC4880_FEATURE_AUDIO=y
# CONFIG_JC4880_FEATURE_SECURITY is not set
CONFIG_JC4880_FEATURE_OTA=y
CONFIG_JC4880_FEATURE_ABOUT_DEVICE=y
CONFIG_JC4880_APP_SETTINGS=y
# CONFIG_JC4880_APP_CALCULATOR is not set
# CONFIG_JC4880_APP_SEGA_EMULATOR is not set
CONFIG_JC4880_APP_IMAGE_VIEWER=y
CONFIG_JC4880_APP_FILE_MANAGER=y
CONFIG_JC4880_APP_MUSIC_PLAYER=y
CONFIG_JC4880_APP_INTERNET_RADIO=y
